body {
    padding: 0;
    margin: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 100%;
  }

  
  .aText {
    font-family: sans-serif;
    font-size: 16px;
    text-anchor: middle;
  }
  .active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }
  /* font size dependent on radius, see app.js */
  .stateText {
    font-family: sans-serif;
    fill: #fff;
    text-anchor: middle;
  }
  .stateCircle {
    fill: #89bdd3;
    stroke: #e3e3e3;
  }
  .chart {
    display: block;
    margin: 0;
  }
  .d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }
  /* Mobile Rules */
  @media screen and (max-width: 530px) {
    .stateText {
      display: none;
    }
    .aText {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 400px) {
    .aText {
      font-size: 13px;
    }
  }

  .legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border-style: solid;
    border-color:rgb(10, 10, 10);
    background: white;
    background: rgba(226, 215, 215, 0.9);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  .legend h3 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(10, 10, 10);
  }
  .legend span {
    position: relative;
    bottom: 3px;
    color:  rgb(10, 10, 10);
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.9;
    color: rgb(247, 243, 243);
  }
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }

  #selDataset {
      padding-right: 30px;
  }

  #bar {
      margin-left: 30px;
  }